<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="profile-container">
    <h2>Личный кабинет</h2>
    <div class="info">
        <p>Имя пользователя: <strong th:text="${username}"></strong></p>
        <p>Количество поездок: <strong th:text="${tripCount}"></strong></p>
    </div>
    <a href="/" class="home-btn">На главную</a>
    <form action="/logout" method="post">
        <input type="submit" value="Выйти" class="logout-btn">
    </form>

</div>
</body>
</html>
